//, first breakpoint - responsible

.button-style {
  // display: block;
  margin-bottom: 40px;
  font-size: 14px;
  line-height: calc(16 / 14);
  color: $text-button-color;
  padding: 10px 15px;
  border: 1px solid $bgc-primary;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  // background-color: #ffffff;

  cursor: pointer;
}

@media screen and (min-width: $mobile) {}

@media screen and (min-width: $tablet) {
  .button-style {
    padding: 15px 45px;
    border-radius: 15px;

    font-size: 16px;
    line-height: calc(20 / 16);
  }
}

@media screen and (min-width: $desktop) {
  .button-style {
    padding: 12px 40px;

    font-size: 20px;
    line-height: calc(25 / 20);
  }
}