//|! breakpoint - resposible -

.hero {
  // display: block;
  text-align: center;
  height: 100vh;
  margin: 0 auto;

  // color: #ffffff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  // background-attachment: fixed;
  background-image:
    linear-gradient(to right,
      // rgba(15, 10, 05, 0.6),
      // rgba(15, 10, 05, 0.6)),
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)),
    url(../../images/img-hero-2560x1360.jpg); //! поменять изображение по размеру

}

//| breakpoint ------------------------- mobile  -------------------------------

//|  breakpoint -------------tablet -------------------------------

@media screen and (min-width: $tablet) {
  .hero {
    height: 90vh;
  }
}

// //| breakpoint ---------------------- desktop ----------------------------
@media screen and (min-width: $desktop) {
  .hero {
    height: 85vh;
    text-align: center;
  }
}