@import 'src/styles/main';
@import 'src/styles/components/business';

.consultingSection {
    display: block;
    text-align: center;
    border-bottom: 1px solid #AAA;
    margin: auto;
}

.consultContainer {
    margin: 0 20px;
}


.contentBlockImg {
    width: 95%;
    height: 150px;
    margin: 10px auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../../../images/tech2.jpg);
}



.consultingContainer {
    display: block;
    opacity: 0;
}

.img {
    display: block;
    width: 95%;
    height: auto;
    // opacity: 0;
}

.image2 {
    width: 100%;
}

@media screen and (min-width:$mobile) {
    .contentBlockImg {
        width: 95%;
        height: 250px;
        text-align: center;
    }
}

@media screen and (min-width:$tablet) {
    .consultingSection {
        // margin: 25px auto;
    }

    .contentBlockImg {
        width: 65%;
        height: 350px;
    }

    .consultingContainer {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 0 auto 20px;
    }

    .image2 {
        width: 45%;
    }

    .img {
        // width: 45%;
    }
}

@media screen and (min-width:$desktop) {
    .consultingSection {
        // margin: 30px auto;
    }

    .contentBlockImg {
        width: 55%;
        height: 400px;
        margin: 0;
    }
}