@import 'src/styles/main';
@import 'src/styles/components/business';
@import 'src/styles/components/directionStyles';

.avSection {
  display: block;
  text-align: center;
  border-bottom: 1px solid #AAA;
  margin: auto;
  // margin: 10px auto;
}

.avContainer {
  display: block;
  opacity: 0;
}

.img {
  display: block;
  width: 95%;
  height: auto;
  text-align: center;
  margin: 10px auto;
}



@media screen and (min-width:$mobile) {}

@media screen and (min-width:$tablet) {
  .avSection {
    margin: 25px auto;
  }

  .avContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .img {
    width: 45%;
    margin: 0;
  }
}

@media screen and (min-width:$desktop) {
  .avSection {
    margin: 30px auto;
  }
}