@import 'src/styles/main';
@import 'src/styles/components/business';
// @import 'src/styles/components/imageStyles';


// * класс всего модулю
.electrical {
  display: block;
  border-bottom: 1px solid #AAA;
}

// * класс секции контента  
.directionContent,
.electricalContent {
  display: block;
  margin-top: 20px;
}


// * класс текстового блока
.textContainer {
  margin-left: 0px;
}


// * класс блока изображения
.contentBlockImg {
  width: 95%;
  height: 150px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../../../images/EL.jpeg);
}



.contentContainer {
  margin-top: 20px;
}

@media screen and (min-width:$mobile) {


  .contentBlockImg {
    width: 95%;
    height: 250px;
    // outline: 4px solid red;
  }


}

@media screen and (min-width:$tablet) {
  .electricalSection {
    margin: 20px auto;
  }

  .textContainer {
    margin-left: 30px;
  }

  .contentBlockImg {
    width: 45%;
    height: 250px;
  }

  .directionContent,
  .electricalContent {
    display: flex;
    // justify-content: space-between;
    margin: 20px;
    // align-self: auto;
    align-items: center;
  }

}

@media screen and (min-width:$desktop) {
  .electricalSection {
    margin: 30px auto;
  }


  .contentBlockImg {
    width: 45%;
    height: 400px;
  }

  .textContainer {
    margin-left: 40px;
  }

  .directionContent,
  .electricalContent {}

  // .electricalText {
  //   margin-left: 50px;
  // }
}