@import 'src/styles/main';
@import 'src/styles/components/business';
@import 'src/styles/components/directionStyles';
// @import 'src/styles/components/imageStyles';

// * класс всего модулю
.electrical {
  display: block;
  text-align: center;
  border-bottom: 1px solid #AAA;
  margin: auto;
}

// * класс текстового блока
.textContainer {
  margin-left: 0px;
}

.textModule {
  text-align: center;
  margin: auto;
}


// * класс блока изображения
.contentBlockImg {
  width: 95%;
  height: 150px;
  margin: 10px auto;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../../../images/EL.jpeg);
}


@media screen and (min-width:$mobile) {
  .contentBlockImg {
    width: 95%;
    height: 250px;
    text-align: center;
  }
}

@media screen and (min-width:$tablet) {
  .textContainer {
    margin-left: 30px;
  }

  .contentBlockImg {
    width: 45%;
    height: 250px;
  }
}

@media screen and (min-width:$desktop) {
  .contentBlockImg {
    width: 45%;
    height: 400px;
    margin: 0;
  }

  .textContainer {
    margin-left: 40px;
  }

}