@import 'styles/main';

.testComponent1 {
    text-align: center;
    margin: auto;
}

.container {
    // overflow-y: hidden;
    // scroll-behavior: smooth;
    // overscroll-behavior: auto contain;
}

.paralax {
    position: relative;
    perspective: 1px;
    height: 80vh;
    overflow: hidden;
    overflow-y: auto;

    width: 100%;
    margin: 0 auto;
}

.bg {
    // margin-top: 900px;
    position: absolute;
    // top: 0;
    inset: 0;
    z-index: -5;
    width: 100vw;
    height: 250%;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../../../images/engineering.jpg);
    transform: translate3d(0, 0, -10px) scale(11);
    // transform: translateZ(-1px) translateX(0px) translateY(0px) scale(2);
    // object-fit: cover;
}

.textItem {
    margin: 70vh auto 0;
    transform: translateZ(0);
    font-size: 32px;
    color: green;
    width: 100%;
    height: 100px;
    background-color: yellow;

}

























.bgContainer {
    position: absolute;
    width: 100%;
    height: 900px;
    // overflow-y: auto;
    // overflow-y: calc(-10vh);
    // object-fit: cover;
    transform: translate3d(0, 0, -1px) scale(2)
}

.testCompBG {
    // position: absolute;
    // text-align: center;
    width: 100%;
    height: auto;
    // overflow-y: auto;
    // overflow-y: calc(-10vh);
    object-fit: cover;
    background-image: url(../../../images/engineering.jpg);
    // background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    // transform: translateZ(-2px) translateX(100px) translateY(300px) scale(3);
    // transform: translateZ(-1px) translateX(0px) translateY(0px) scale(2);
    // transform: translate3d(0, 0, -1px) scale(2);
    background-attachment: fixed;
    inset: 0;
    z-index: -5;

}

// .comp1 {
//     inset: 0;
//     background-image: url(../../../images/engineering.jpg);
//     z-index: -5;

// }

.comp2 {
    // top: 180vh;
    background-image: url(../../../images/av-systems.jpg);
    z-index: -5;

}

.testComp1_2 {
    // position: absolute;
    // inset: 0;
    display: inline-block;
    margin: 0 auto 100px;
    text-align: center;
    width: 100%;
    height: 100px;
    background-color: yellow;
    // transform: translateZ(0);
}

.text {
    font-size: 32px;
    color: tomato;
    width: 100%;
    height: 400px;
    ;
}

// body {
//     margin: 0;
//     font-family: 'Noto Sans', sans-serif;
// }

// img {
//     max-width: 100%;
//     height: auto;
//     display: block;
// }

// .wrapper {
//     max-width: 1440px;
//     margin: 0 auto;
//     width: 100%;
// }

// .parallax {
//     position: relative;
//     perspective: 1px;
//     height: 100vh;
//     overflow: hidden;
//     overflow-y: auto;
// }

// .parallax-layer {
//     position: absolute;
//     inset: 0;
//     height: 100%;
// }

.parallax-image {
    transform: translateZ(0);
    object-fit: cover;


}



// View Compiled Resources