@import 'src/styles/main';
@import 'src/styles/components/business';

.fireSection {
  margin: 10px auto;
}

.fireDefenderContent{
display: block;
margin-top: 20px;
}

.fireImg{
  display: block;
  width: 95%;
  height: auto;
}


.firedeDenderText{
  margin-left: 0px;
}

@media screen and (min-width:$mobile) {
  .fireDefenderContent{

  }

    .firedeDenderText {
      margin-left: 0px;
    }



}
@media screen and (min-width:$tablet) {
  .fireSection {
      margin: 20px auto;
    }

  .fireDefenderContent {
    display: flex;
    // justify-content: space-between;
    margin: 20px  ;
    // align-self: auto;
    align-items: center;
  }
    .firedeDenderText {
      margin-left: 40px;
    }
.fireImg {
  display: block;
  width: 45%;
  height: auto;
}
        
}

@media screen and (min-width:$desktop) {
  .fireSection {
      margin: 30px auto;
    }
  .fireDefenderContent {}
    .firedeDenderText {
      margin-left: 50px;
    }
}

